mat-toolbar {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .login-button {
    font-size: 1.1rem;
    padding: 1rem;
    color: var(--text-color) !important;
  }
  
  .theme-toggle {
    display: flex;
    align-items: center;
  
    .mat-slide-toggle-label {
      display: flex;
      align-items: center;
      justify-content: center;
  
      mat-icon {
        vertical-align: middle;
        font-size: 24px;
        color: var(--text-color);
      }
    }
  }
  
  .logout-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
  
.or-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-color);
}
  
.line {
    flex: 1;
    height: 1px;
    background: var(--text-color);
}
  
  mat-icon {
    color: var(--text-color) !important;
  }
  